# Зависимости
/node_modules
/.pnp
.pnp.js

# Тестирование
/coverage

# Билды
/build
/dist

# Прочее
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEA
.idea/
*.iml
*.iws
*.ipr

